body{			
  
  margin: 2%  6%  	10% 6%; 
  background-color: #cccccc;
  background-image: linear-gradient(white 37%  , lightblue );
    }
    
	
   


.huba{/*elerhetosegek*/
	text-align:center;
	font-family: arial, sans-serif;
 	border-collapse: collapse;
   	line-height: 160%; 
    padding-top: 1%; 
	padding-bottom:10%;
   font-size: 150% ;
}
/*kép+ szöveg*/
 img{
 	float:left;
	margin-right:5%;
	 margin-top:-8% ;
	 margin-bottom: 5%;
	
	
	}
	.cont{
	display: inline-block;
	 text-align:justify;
	 style: responsible;
	 padding: 15px;
	 font-family:comic sans MS, arial;
	 line-height: 220%; /*nagy sorköz*/
	}

/*Araink*/
h3{font-family:  comic sans MS,currier, monospace;
 font-size: 320%; 
 text-align: center;
 padding: 10px;
  }
 table{   
        
        font-family: sans-serif, arial, ;
        border-collapse: collapse;
        width: 80%;
        margin: 0  10%  10% 10%;
		align: middle;
       
              }
      #arak tr {
       
        border-collapse: collapse;
        width: 50%;
      
      }
      #arak th {
                text-align: center;
                     
      }
      #arak tr:nth-child(even){background-color: #f2f2f6;}/*csikos tablazat*/
        #arak tr:hover {background-color: #ddd;}
      
      #arak td, #arak th {
        border: 1px solid rgb(8, 8, 8);
        padding: 20px;
           
      }
 
	
